<div id="<%= dom_id flight %>">
  <p>
    <strong>Flight number:</strong>
    <%= flight.flight_number %>
  </p>
  <p>
    <strong>Airline:</strong>
    <%= flight.airline_id %>
  </p>
  <p>
    <strong>Origin:</strong>
    <%= flight.origin_id %>
  </p>
  <p>
    <strong>Destination:</strong>
    <%= flight.destination_id %>
  </p>
  <p>
    <strong>departure time:</strong>
    <%= flight.departure_time %>
  </p>
  <p>
    <strong>Arrival time:</strong>
    <%= flight.arrival_time %>
  </p>
  <p>
    <strong>Duration:</strong>
    <%= flight.duration %>
  </p>
</div>
