<p style="color: green"><%= notice %></p>
<h1>Search Flights</h1>
<%= form_tag flights_path, method: :get do %>
  <div>
    <%= label_tag :date, 'Date' %>
    <%= select_tag(:date, options_for_select([['', nil]] + @unique_departure_dates)) %>
  </div>
  <div>
    <%= label_tag :from, 'From' %>
    <%= select_tag(:from, options_for_select([['', nil]] + @unique_origin_airports) )%> <!-- The ['', nil] inserts a blank option as the first element -->
  </div>
  <div>
    <%= label_tag :to, 'To' %>
    <%= select_tag(:to, options_for_select([['', nil]] + @unique_destination_airports) )%> <!-- The ['', nil] inserts a blank option as the first element -->
  </div>
  <div>
    <%= label_tag :num_passengers, 'Number of Passengers' %>
    <%= select_tag(:num_passengers, options_for_select((1..4).to_a) )%>
  </div>
  <%= submit_tag 'Search' %>
<% end %>
<h1>Flights</h1>
<%= form_with(url: new_booking_path, method: :get) do %>
  <%= submit_tag 'Select Flight' %>
  <table>
    <thead>
      <tr>
        <th>Select</th>
        <th>Flight Number</th>
        <th>Airline ID</th>
        <th>Origin ID</th>
        <th>Destination ID</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Duration</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @flights.each do |flight| %>
        <tr>
          <td><%= radio_button_tag 'selected_flight', flight.id %></td>
          <td><%= flight.flight_number %></td>
          <td><%= flight.airline_name %></td>
          <td><%= "#{flight.origin_code} | #{flight.origin_name}" %></td>
          <td><%= "#{flight.destination_code} | #{flight.destination_name}" %></td>
          <td><%= flight.departure_time.strftime("%-d %b %y %H:%M") %></td>
          <td><%= flight.arrival_time.strftime("%-d %b %y %H:%M") %></td>
          <td><%= sprintf("%.1f", flight.duration/60.0) %></td>
          <td><%= link_to 'Show', flight %></td>
          <td><%= link_to 'Edit', edit_flight_path(flight) %></td>
          <td><%= link_to 'Delete', flight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% @flights.each do |flight| %>
    <%= hidden_field_tag "flight[#{flight.id}][origin_name]", flight.origin_name %>
    <%= hidden_field_tag "flight[#{flight.id}][destination_name]", flight.destination_name %>
    <%= hidden_field_tag "flight[#{flight.id}][departure_time]", flight.departure_time %>
  <% end %>
  <%= hidden_field_tag "num_passengers", params[:num_passengers]  %>
<% end %>
