<div id="<%= dom_id booking %>">
  <p>
    <strong>Flight:</strong>
    <%= booking.flight_id %>
  </p>
  <p>
    <strong>Num passengers:</strong>
    <%= booking.num_passengers %>
  </p>
  <p>
    <strong>From:</strong>
    <%= booking.flight_origin_name %>
  </p>
  <p>
    <strong>To:</strong>
    <%= booking.flight_destination_name %>
  </p>
  <p>
    <strong>Departure Time:</strong>
    <%= booking.flight_departure_time %>
  </p>
</div>
